    <div class="row">
        <label for="fileToUpload">Select a File to Upload</label><br />
        <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
    </div>
    <div id="dropbox" class="dropbox" ng-class="dropClass"><span>{{dropText}}</span></div>
    <div ng-show="files.length">
        <div ng-repeat="file in files.slice(0)">
            <span>{{file.webkitRelativePath || file.name}}</span>
            (<span ng-switch="file.size > 1024*1024">
                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
            </span>)
        </div>
        <input type="button" ng-click="uploadFile()" value="Upload" />
        <div ng-show="progressVisible">
            <div class="percent">{{progress}}%</div>
            <div class="progress-bar">
                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
            </div>
        </div>
    </div>

	<p width="100%" style="float:none">
	<form ng-submit="uploadConfiguration(newConfiguration)">
		<input type="text" ng-model="newConfiguration.name" size="35"
			placeholder="New Configuration Name" /> 
		<input type="submit" value="Create Configuration">
	</form>
	
	<form ng-submit="importConfigFile(configFile)" method="post" enctype="multipart/form-data" action="/organix/configuration/upload">
		<input type="file" name="ConfigFile" ng-model="configFile" accept="application/json" placeholder="Select .json file..." />
		<input type="submit" value="Import from File" />
	</form>
	</p>
<hr class="dotted" />
<div ng-show="configurationsExist">
<h3 align="right">Configuration</h3>
	<p width="100%" align="right">
	<a href="{{configurationUrl}}/file" type="application/json" target="_blank">
		<img src="/img/download.png" alt="Download Config"/>
	</a>
	<select	style="width: 230px" 
			ng-change="loadConfiguration()"
			ng-model="currentConfigurationHeader"
			ng-options="header.id as header.name for header in configurationHeaders">
	
	</select>


		
</p>

<p align="right">
	<input ng-click="uploadConfiguration(configuration)" type="submit" value="Upload Config" />
	<input ng-click="uploadConfiguration(configuration)" type="submit" value="Reload Config" />
	<input ng-click="uploadConfiguration(configuration)" type="submit" value="Delete Config" />
</p>
<hr class="dotted"/>

<h3 align="right">Object Types</h3>
<div width="100%">
	<p width="100%" align="right">
		<input ng-model="objectQuery" placeholder="Search.." size="35"/> 
	</p>
	<div width="100%">
	<table width="100%" border="1">
		<tr>
			<th ng-click="orderPropObject = 'chosen'; reversePropObject = !reversePropObject">{{reversePropObject | updown}}</th>
			<th ng-click="orderPropObject = 'name'; reversePropObject = !reversePropObject">Type Name {{reversePropObject | updown}}</th>
			<th ng-click="orderPropObject = 'typeNumber'; reversePropObject = !reversePropObject">Type Id {{reversePropObject | updown}}</th>
			<th>Details</th>
		</tr>
		<tr
			ng-repeat="objectType in configuration.objectTypes | filter:objectQuery | orderBy:orderPropObject:reversePropObject">
			<td><input type="checkbox" ng-model="objectType.chosen" /></td> 
			<td>{{objectType.name}}</td>
			<td>{{objectType.typeNumber}}</td>
			<td><a href="#/ui/configuration/objectTypes/{{objectType.typeNumber}}">Details..</a></td>	
		</tr>
	</table>
</div>
	<hr class="dotted"/>
	<p width="100%" style="float:none">
	<form ng-submit="addObjectType(objectType)">
		<input type="text" ng-model="objectType.name" size="35"
			placeholder="New Type name" /> 
		<input type="text"
			ng-model="objectType.typeNumber" size="30" placeholder="New Type Id (autodetect)" />
		<input type="submit" value="Add Type">
	</form>
	</p>
	<p>{{objectErrorMessage}}</p>
	<!-- 			{{ objectTypes | json }} -->
</div>

<hr/>

 <h3 align="right">Connection Types</h3>
<div>
	<p align="right">
		<input ng-model="connectionQuery" placeholder="Search.." size="35" /> 
	</p>

	<table widht="100%" border="1">
		<tr>
			<th ng-click="orderPropObject = 'chosen'; reversePropConnection = !reversePropConnection">{{reversePropConnection | updown}}</th>
			<th ng-click="orderPropObject = 'typeNumber'; reversePropConnection = !reversePropConnection">Type Id {{reversePropConnection | updown}}</th>

			<th ng-click="orderPropObject = 'sourceEnd.roleName'; reversePropConnection = !reversePropConnection">Source Role Name {{reversePropConnection | updown}}</th>
			<th ng-click="orderPropObject = 'sourceEnd.objectType'; reversePropConnection = !reversePropConnection">Obj. Type {{reversePropConnection | updown}}</th>
			<th ng-click="orderPropObject = 'sourceEnd.mandatory'; reversePropConnection = !reversePropConnection">M {{reversePropConnection | updown}}</th>
			<th ng-click="orderPropObject = 'sourceEnd.unique'; reversePropConnection = !reversePropConnection">U {{reversePropConnection | updown}}</th>

			<th ng-click="orderPropObject = 'targetEnd.roleName'; reversePropConnection = !reversePropConnection">Target Role Name {{reversePropConnection | updown}}</th>
			<th ng-click="orderPropObject = 'targetEnd.objectType'; reversePropConnection = !reversePropConnection">Obj. Type {{reversePropConnection | updown}}</th>
			<th ng-click="orderPropObject = 'targetEnd.mandatory'; reversePropConnection = !reversePropConnection">M {{reversePropConnection | updown}}</th>
			<th ng-click="orderPropObject = 'targetEnd.unique'; reversePropConnection = !reversePropConnection">U {{reversePropConnection | updown}}</th>			
		</tr>
		
		<tr	ng-repeat="connectionType in configuration.connectionTypes | orderBy:orderPropConnection:reversePropConnection | filter:connectionQuery">
			<td><input type="checkbox" ng-model="connectionType.chosen" /> </td>
			<td>{{connectionType.typeNumber}}</td>
			
			<td>{{connectionType.sourceEnd.roleName}}</td>
			<td>{{connectionType.sourceEnd.objectType}}</td>
			<td>{{connectionType.sourceEnd.mandatory | checkmark}}</td>		 
			<td>{{connectionType.sourceEnd.unique | checkmark}}</td>

			<td>{{connectionType.targetEnd.roleName}}</td>
			<td>{{connectionType.targetEnd.objectType}}</td>
			<td>{{connectionType.targetEnd.mandatory | checkmark}}</td>		 
			<td>{{connectionType.targetEnd.unique | checkmark}}</td>			

		</tr>
	</table>

	<hr class="dotted"/>
	<form ng-submit="addConnectionType(connectionType)">

		<input type="text" ng-model="connectionType.typeNumber" size="30" placeholder="New Type Id (autodetect)" />
		
		<select
				ng-change="deriveConnectionType(typeToDeriveFrom);"
				ng-model="typeToDeriveFrom"
				ng-options="type as type.sourceEnd.roleName for type in configuration.connectionTypes">
				<option value=""> -- Derive from -- </option>
		</select>
		<input type="submit" value="Add Type">
		<p>
		<span style="float:left; cursor: pointer;" ng-click="switchSourceAndTargetTypes();">
			<img src="/img/switch-arrow.png" alt="Switch source and target type" />
		</span>
		<span>
 			<select
				ng-model="connectionType.sourceEnd.objectType"
				ng-options="type.typeNumber as type.name for type in configuration.objectTypes" >
				<option value=""> -- Source Object Type -- </option>
			</select>
			<input type="text" ng-model="connectionType.sourceEnd.roleName"
				placeholder="Active role name" size="30" />
			<input type="checkbox" ng-model="connectionType.sourceEnd.mandatory">Mandatory</input> 
			<input type="checkbox" ng-model="connectionType.sourceEnd.unique">Unique</input>
		</span>
		<span style="margin-top:10px">
			<select	ng-model="connectionType.targetEnd.objectType"
				ng-options="type.typeNumber as type.name for type in configuration.objectTypes">
				<option value=""> -- Target Object Type -- </option>
			</select>
			<input type="text" ng-model="connectionType.targetEnd.roleName"
				placeholder="Passive role name" size="30" /> 
			<input type="checkbox" ng-model="connectionType.targetEnd.mandatory">Mandatory</input>
			<input type="checkbox" ng-model="connectionType.targetEnd.unique">Unique</input>
		</span>

	</form>
	<p>{{connectionErrorMessage}}</p>
</div>

</div>